@import '_normalize';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  padding: 0 15px;
  @media (min-width: 600px) {padding: 0 30px;}
  @media (min-width: 900px) {padding: 0 60px;}
}
@import 'header';
@import 'hamburger';
@import 'body-text';
@import 'body-grid';
@import 'footer';
@import 'partners';